@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  margin: 0;
  padding: 0;
  overflow-y: hidden; /* Evita scroll horizontal */
}

body {
  height: 100vh; /* Asegúrate de que el body no tenga más altura de la necesaria */
}

.app-container {
  @apply flex h-screen;; /* Utiliza Tailwind para height y flexbox */
}

.sidebar {
  @apply fixed h-full bg-opacity-10 pt-5 text-white select-none; /* Aplica Tailwind */
  width: 250px; /* Ancho fijo del Sidebar */
  left: 0;
  z-index: 1;
}



.code {

  @apply h-screen;
  margin-top: 30px;

  height: 100vh; /* Asegurar altura completa */
  flex-grow: 1; /* Ocupa todo el espacio restante */
  height: 100vh; /* Asegurar altura completa */
  margin-left: 250px; /* Dejar espacio para el Sidebar */

  overflow: auto; /* Activar scroll si es necesario */
}

.start-container {
  flex-grow: 1; /* Ocupa todo el espacio restante */
  height: 100vh; /* Asegurar altura completa */
  margin-left: 250px; /* Dejar espacio para el Sidebar */
  overflow: hidden; /* Quitar el scroll principal */
}

.code__editor {
  margin-top: 10px;
  height: 100%;
  width: 100%;
  height: calc(100vh - 48px); /* Ajustar la altura para el padding */
  border: none;
  outline: none;
  font-family: monospace;
  font-size: 16px;
  resize: none;
  user-select: text;
  background-color: #222222;
  overflow-y: auto; /* Activar el desplazamiento vertical */
  color: #ffffff; /* Color del texto */
  white-space: pre-wrap; /* Mantener los saltos de línea */
}
