@tailwind base;
@tailwind components;
@tailwind utilities;

.app-container {
  @apply flex h-screen;; /* Utiliza Tailwind para height y flexbox */
}

.sidebar {
  @apply fixed h-full bg-opacity-10 pt-5 text-white select-none; /* Aplica Tailwind */
  width: 250px; /* Ancho fijo del Sidebar */
  left: 0;
  z-index: 1;
}

.code {
  @apply h-screen;
  height: 100vh; /* Asegurar altura completa */
  flex-grow: 1; /* Ocupa todo el espacio restante */
  height: 100vh; /* Asegurar altura completa */
  margin-left: 250px; /* Dejar espacio para el Sidebar */

  overflow: auto; /* Activar scroll si es necesario */
}

.start-container {
  flex-grow: 1; /* Ocupa todo el espacio restante */
  height: 100vh; /* Asegurar altura completa */
  margin-left: 250px; /* Dejar espacio para el Sidebar */
  overflow: hidden; /* Quitar el scroll principal */
}

.code__editor {
  height: 100%;
  width: 100%;
  height: calc(100vh - 48px); /* Ajustar la altura para el padding */
  border: none;
  outline: none;
  padding: 10px;
  font-family: monospace;
  font-size: 16px;
  resize: none;
  user-select: text;
  background-color: #222222;
  overflow-y: auto; /* Activar el desplazamiento vertical */
  color: #ffffff; /* Color del texto */
  white-space: pre-wrap; /* Mantener los saltos de línea */
}
