@tailwind base;
@tailwind components;
@tailwind utilities;


/* Terminal scrollbar styling */
.terminal-content::-webkit-scrollbar {
  width: 8px;
}

.terminal-content::-webkit-scrollbar-track {
  background: #282a36;
}

.terminal-content::-webkit-scrollbar-thumb {
  background: #44475a;
  border-radius: 4px;
}

.terminal-content::-webkit-scrollbar-thumb:hover {
  background: #6272a4;
}

