.box {
  height: 1117px;
  width: 1720px;
}

.box .mask-group {
  height: 1117px;
  left: 0;
  position: fixed;
  top: 0;
  width: 1720px;
}

.box .macbook-pro {
  background-color: #ffffff;
  height: 1117px;
  overflow: hidden;
}

.box .editor {
  align-items: center;
  box-shadow: 0px 10px 15px #00000026;
  display: flex;
  height: 1117px;
  position: relative;
  width: 1757px;
}

.box .navigation {
  -webkit-backdrop-filter: blur(50px) brightness(100%);
  align-items: flex-start;
  align-self: stretch;
  backdrop-filter: blur(50px) brightness(100%);
  background-color: #0a0a0acc;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 282px;
}

.box .div {
  align-items: center;
  align-self: stretch;
  border-radius: 10px 10px 0px 0px;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  padding: 16px 24px;
  position: relative;
  width: 100%;
}

.box .controls {
  align-items: flex-start;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 7px;
  position: relative;
}

.box .close {
  background-color: #f44336;
  border-radius: 8px;
  height: 16px;
  position: relative;
  width: 16px;
}

.box .minimize {
  background-color: #ffc107;
  border-radius: 8px;
  height: 16px;
  position: relative;
  width: 16px;
}

.box .fullscreen {
  background-color: #4caf50;
  border-radius: 8px;
  height: 16px;
  position: relative;
  width: 16px;
}

.box .text-wrapper {
  color: #ffffffcc;
  flex: 1;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.box .menu {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  padding: 8px 24px;
  position: relative;
  width: 100%;
}

.box .icon-instance-node {
  height: 24px !important;
  position: relative !important;
  width: 24px !important;
}

.box .browser {
  align-items: flex-start;
  display: inline-flex;
  flex: 1;
  flex-direction: column;
  flex-grow: 1;
  padding: 8px 0px;
  position: relative;
}

.box .div-2 {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 2px 24px;
  position: relative;
  width: 248px;
}

.box .text-wrapper-2 {
  color: #ffffff;
  flex: 1;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.box .text-wrapper-3 {
  color: #ffffffcc;
  flex: 1;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  height: 27px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
}

.box .file {
  align-items: center;
  background-color: #ffffff1a;
  display: flex;
  flex: 0 0 auto;
  gap: 8px;
  padding: 2px 24px;
  position: relative;
  width: 282px;
}

.box .icons-instance {
  left: 809px !important;
  top: 302px !important;
}

.box .design-component-instance-node {
  background-image: url(./vector-7.svg) !important;
}

.box .icon-2 {
  color: #000000cc !important;
}

.box .icon-3 {
  left: 809px !important;
  top: 270px !important;
}

.box .icon-4 {
  background-image: url(./vector-9.svg) !important;
}

.box .main {
  align-items: flex-start;
  align-self: stretch;
  background-color: #222222;
  border-radius: 0px 8px 8px 0px;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 1443px;
}

.box .files {
  align-items: flex-start;
  align-self: stretch;
  background-color: #191919;
  display: flex;
  flex: 0 0 auto;
  position: relative;
  width: 100%;
}

.box .file-2 {
  align-items: center;
  background-color: #ffffff1a;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  padding: 6px 16px;
  position: relative;
}

.box .icon-5 {
  height: 20px !important;
  width: 20px !important;
}

.box .icon-6 {
  height: 20px !important;
  left: 567px !important;
  top: 553px !important;
  width: 20px !important;
}

.box .icon-7 {
  background-image: url(./vector-11.svg) !important;
  height: 17px !important;
  left: 3px !important;
  width: 13px !important;
}

.box .icon-8 {
  color: #000000cc !important;
  font-size: 7px !important;
  top: 7px !important;
}

.box .text-wrapper-4 {
  color: #ffffffcc;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.box .file-3 {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  gap: 4px;
  justify-content: center;
  padding: 6px 16px;
  position: relative;
}

.box .icon-9 {
  height: 20px !important;
  left: 445px !important;
  top: 553px !important;
  width: 20px !important;
}

.box .icon-10 {
  background-image: url(./vector-5.svg) !important;
  height: 17px !important;
  left: 3px !important;
  width: 13px !important;
}

.box .icon-file-instance {
  height: 20px !important;
  position: relative !important;
  width: 20px !important;
}

.box .code {
  align-items: flex-start;
  align-self: stretch;
  display: flex;
  flex: 1;
  flex-grow: 1;
  gap: 32px;
  justify-content: center;
  padding: 24px;
  position: relative;
  width: 100%;
}

.box .flexcontainer {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1px;
  min-height: 1015px;
  width: 20px;
}

.box .text {
  align-self: stretch;
  color: transparent;
  font-family: "Roboto Mono-Bold", Helvetica;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.box .span {
  color: #ffffff66;
}

.box .text-wrapper-5 {
  color: #ffffffcc;
}

.box .flexcontainer-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: 1px;
  min-height: 1015px;
}

.box .p {
  align-self: stretch;
  color: transparent;
  font-family: "Roboto Mono-Medium", Helvetica;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  position: relative;
}

.box .text-wrapper-6 {
  color: #66bb6a;
}

.box .text-wrapper-7 {
  color: #ba68c8;
}

.box .text-wrapper-8 {
  color: #81d4fa;
}

.box .status-bar {
  align-items: center;
  align-self: stretch;
  background-color: #ffffff0d;
  display: flex;
  flex: 0 0 auto;
  gap: 16px;
  justify-content: flex-end;
  padding: 4px 16px;
  position: relative;
  width: 100%;
}

.box .text-wrapper-9 {
  color: #ffffff66;
  font-family: "Roboto-Medium", Helvetica;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

.box .git-branch {
  align-items: center;
  display: inline-flex;
  flex: 0 0 auto;
  position: relative;
}

.box .icons-2 {
  height: 12px !important;
  position: relative !important;
  width: 12px !important;
}

.box .text-wrapper-10 {
  color: #ffffff66;
  font-family: "Roboto-Bold", Helvetica;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: normal;
  margin-top: -1px;
  position: relative;
  white-space: nowrap;
  width: fit-content;
}

